// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

// Colors (99X)
// Primary:     #E8500E, #003962, #23B2A4
// Secondary:   #F6A637, #E94B5A, #B3DFF1
// Neutral:     #53565A, #A7A8AA, #D9D9D6
// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
// General
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

b,
strong {
    font-weight: 500;
}

.jumbo {
    height: 100vh;
    min-height: 500px;
    padding: 100px 0;
}

.jumbo .brand {
    margin-top: 100px;
}

@media (max-width: 768px) {
    .jumbo .brand {
        margin-top: 0px;
    }
}


a {
    color: #d81b60;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #F6A637 !important;
    outline: 0;
    text-decoration: none !important;
}

section {
    padding: 80px 0px;
}

.img-team {
    height: 150px !important;
    width: 150px !important;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.img-team:hover {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}

.team h5 {
    padding: 35px 0 15px 0;
    font-weight: 500;
}

.team p {
    color: #999;
}

.small-xl {
    font-size: 90%;
}

.small-xs {
    font-size: 70%;
}

.badge {
    color: #fff;
}


// Navigation
.navbar {
    min-height: 80px;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 500;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-inverse .navbar-nav .nav-link,
.navbar .navbar-brand,
.navbar-toggler span {
    color: black;
}

.navbar .nav-item .active,
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .navbar-brand:hover {
    color: black !important;
}

.sticky-navigation {
    top: 0px;
    background-color: transparent;
}


// Background colors (todo: replace with gradient)
.bg-texture {
    background: transparent -webkit-radial-gradient(circle farthest-side at right bottom, #ec407a 5%, #e91e63 25%, #d81b60 80%, #c2185b 98%) repeat scroll 0% 0%;
    background: transparent -o-radial-gradient(circle farthest-side at right bottom, #ec407a 5%, #e91e63 25%, #F6A637 80%, #c2185b 98%) repeat scroll 0% 0%;
    background: transparent -moz-radial-gradient(circle farthest-side at right bottom, #ec407a 5%, #e91e63 25%, #F6A637 80%, #c2185b 98%) repeat scroll 0% 0%;
    background: transparent radial-gradient(circle farthest-side at right bottom, #ec407a 5%, #e91e63 25%, #dF6A637 80%, #c2185b 98%) repeat scroll 0% 0%;
}

.bg-texture-collage {
    background: linear-gradient(-45deg, #ffb300 33%, transparent 0%),
    linear-gradient(-45deg, #F6A637 67%, transparent 33%),
    linear-gradient(-45deg, #ffb300 100%, transparent 67%);
}

.bg-alt {
    background-color: #fff;
}

.bg-faded {
    background-color: #FAFAFA;
}

.bg-primary {
    background-color: #F6A637 !important;
}

.bg-footer {
    background-color: #171717;
}


// Text colors
.text-faded {
    color: #FAFAFA;
}

.text-dark {
    color: #37474F;
}

.text-muted {
    color: #999 !important;
}

.text-white {
    color: #fff;
}

.text-primary {
    color: #F6A637 !important;
}

.text-primary-light {
    color: #F6A637;
}


// Icon size
.icon-lg {
    font-size: 60px;
    line-height: 18px;
}

.icon-md {
    font-size: 50px;
    line-height: 14px;
}

.icon-sm {
    font-size: 30px;
    line-height: 14px;
}


// Buttons
.btn {
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
    text-transform: uppercase;
    font-weight: 500;
    padding: .6rem 1.5rem;
}

.btn:hover,
.btn:focus {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}

.btn-white {
    color: #F6A637 !important;
    background-color: #fff;
    border-color: #fff;
}

.btn-white:hover {
    color: #ff4081;
}

.btn-primary {
    background-color: #F6A637 !important;
    border-color: #F6A637 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #fff !important;
}

.btn-radius {
    border-radius: 50px;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #F6A637;
}

.bg-texture {
    background: black;
}

.sticky-navigation {
    background-color: white!important;
}

.text-black {
    color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.list-group-item a {
    color: black;

}
